{
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"quoteProps": "as-needed"
}