:root {
	--white-color: #fff;
	--black-color: #000;
	--primary-color: #67a5eb;
	--primary-color-dis: #45526e;
	--secondary-color: #393b3c;
	--secondary-color-dis: #747474;
	--transition: all 0.2s ease;
	--breakpoint-mobile: 767.98px;
	--breakpoint-mobile-small: 479.98px;
	--breakpoint-tablet: 1023.98px;
	--breakpoint-laptop: 1339.98px;
	--font-family: "Play", sans-serif;
	--second-family: "Open Sans", sans-serif;
}